{% extends 'base.html.twig' %}

{% block title %}
	Bureaux
{% endblock %}

{% block body %}
	<h3 class="row">Historique des bureaux de l'association</h2>
	<div class="d-flex flex-row-reverse">
		<a href="{{ path('add_bureau') }}" class="btn btn-success">Nouveau bureau</a>
	</div>
	<p></p>
	<div class="row">
		<table class="table table-bordered">
			<thead class="table-primary">
				<tr>
					<th>Date de début</th>
					<th>date de fin</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for bureau in bureaux %}
					<tr>
						<td>{{bureau.dateDebut |  date('d/m/Y')}}</td>
						<td>{{bureau.dateFin |  date('d/m/Y')}}</td>
						<td>
							<a class="btn btn-primary" href="{{path('show_bureau',{'id': bureau.id})}}">Show</a>
							<a class="btn btn-success" href="{{ path('edit_bureau', {'id': bureau.id}) }}">Modifier</a>
							<a class="btn btn-danger" href="{{path('delete_bureau', {'id': bureau.id})}}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
